.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.todo-box-header {
  display: flex;
  justify-content: center;
}

.todo-wrapper {
  display: flex;
  justify-content: space-between;
  min-width: 1200px;
}

.todo-text {
  margin: 4px 0;
}

.btn {
  border: 3px solid transparent;
  border-radius: 8px;
  background-color: rgb(17, 55, 167);
  color: white;
  padding: 10px 20px;
  min-width: 160px;
  margin: 0 4px;
}

.btn.disabled {
  background-color: gray;
}

.btn.disabled:hover {
  border-color: gray;
  background-color: gray;
  color: white;
}

.btn-green {
  background-color: forestgreen;
}

.btn-yellow {
  background-color: yellow;
  color: black;
}

.btn-green:hover {
  background-color: white;
  border-color: forestgreen;
  color: forestgreen;
}

.btn-yellow:hover {
  background-color: white;
  border-color: yellow;
  color: black;
}

.input-container {
  width: 600px;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.input {
  flex-grow: 1;
  height: 20px;
  padding: 10px 20px;
  border-radius: 4px;
}
